#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lastcolumnSeparator .MuiDataGrid-columnSeparator--sideRight {
  display: none !important;
}

.css-1xy1myn-MuiDataGrid-root .MuiDataGrid-iconSeparator {
  display: none;
}