#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: darkblue; */
}

.dg-container {
  width: "1000px";
  height: "900px";
  background-color: #0d478b;
  border-radius: 20px;
}

.lastcolumnSeparator .MuiDataGrid-columnSeparator--sideRight {
  display: none !important;
}

.css-1xy1myn-MuiDataGrid-root .MuiDataGrid-iconSeparator {
  display: none;
}

.MuiDataGrid-root,
.css-1xy1myn-MuiDataGrid-root {
  border: none;
}

ul {
  list-style: none;
}

li::before {content: "•"; color: red;
  display: inline-block; width: 1em;
  margin-left: -1em}
